:root {
  --very-dark: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish: hsl(210, 46%, 95%);
  --fs: 13px;
}

body {
  font-size: var(--fs);
  font-family: Manrope, sans-serif;
  background-color: var(--light-grayish);
  color: var(--desaturated-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.card {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 300px;
  border-radius: 10px;
  background-color: #fff;
}

.emphasized {
  font-weight: 700;
  font-size: 15px;
  color: var(--very-dark);

}

.card-body {
  padding: 30px;
}

.hero-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name . share"
                       "img date . share";
  padding: 30px;
  grid-column-gap: 5px;
}

.avatar {
  border-radius: 100px;
  height: 50px;
  grid-area: img;
}

.name {
  grid-area: name;
  margin: 0;
  font-weight: 700;
  color: var(--very-dark);
}

.date {
  grid-area: date;
  margin: 0;
}

.share {
  grid-area: share;
}

.share i {
    background-color: var(--light-grayish);
    color: var(--desaturated-dark-blue);
    padding: 10px;
    border-radius: 50px;
}

.share-footer {
  display: none;
}

.share-footer {
  padding: 30px;
  display: flex;
  background-color: var(--very-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
}

.share-icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}

.share-footer span {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}

.share-footer i {
  font-size: 20px;
  color: #fff;
}

.share-footer .share-icons i {
  padding-top: 10px;
}

.share-footer .share-active {
  background-color: var(--desaturated-dark-blue);
  border-radius: 100%;

}

.share-footer .share-active i {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 16px;

}

.popover {
  display: none;
}

@media (min-width: 900px) {

  .card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img card-body"
                         "img card-body"
                         "img footer";
    max-width: 800px;
    border-radius: 10px;
    background-color: #fff;
    max-height: 300px;
  }

  .hero-image {
    grid-area: img;
    height: 100%;
    max-width: 300px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  .card-body {
    grid-area: card-body;
    padding-right: 60px 0;
    font-size: 15px;
  }

  .emphasized {
    font-size: 20px;
  }

  .card-footer {
    position: relative;
    grid-area: footer;
  }


.share {
  text-align: right;
  margin-right: 35px;
}

  .popover {
    top: -17px !important;
    display: flex;
    align-items: center;
    background-color: var(--very-dark);
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }


  .popover::after {
    content: " ";
    border-top: 11px solid var(--very-dark);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    top: 30px;
    right: 85px;
  }

  .popover-body {
    display: flex;
    justify-content: center;
    width: 200px;
    gap: 20px;
  }

  .popover-body i {
    color: #fff;
    font-size: 17px;
  }


  .popover-body span {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

    .popover::before {
      background-color: pink;
  }

  .share-footer {
    display: none;
  }
}
